body{
    margin:20px;
    border: 1px solid rgb(0, 0, 0);
    max-width: 100%;
    background-color: rgb(176, 196, 222);
    text-align: center;
    box-shadow: 8px 4px rgb(1, 12, 39);
    
}

#header{
    margin-bottom: 30px;
    margin-top: 90px;
}
#header h1, h2{
  font-family: verdana, sans-serif;
}
#header p{
  font-family: 'Courier New', Courier, monospace;
  color: rgb(80, 14, 8);
  position: relative;
  top: -16px;
}
#section-result p{
    font-family: 'Courier New', Courier, monospace;
}
img{
    width:400px;
    border:1px solid white;
}

#list-debt{
    text-align: left;
    background-color: #091a28;
    color:#8aa7bd;
    box-shadow: 5px 2px rgb(10, 59, 115);
    border-radius: 19px;
    position: relative;
    left:450px;
    width: 509px;
    padding: 20px;
}
#list-debt li{
    list-style-type: none;
}
#list-debt hr{
    border:1px rgb(84, 100, 100) solid;
    color: #091a28;
}

#section-result{
    border: 1px black solid;
    border-radius: 12px;
    margin-top:20px;
    padding-bottom: 2.5rem;
}

input{
    margin:5px;
    border-radius: 12px;
    box-shadow: 5px 2px black;
}
/*O FOOTER TA BUGADO*/
#footer{
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;  
    margin-top:150px;
}
#footer p, label{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
#section-result, #footer{
    margin-bottom:20px;
}
button{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
  box-shadow: 2px 2px black;
}
button:hover{
    cursor: pointer;
    box-shadow: 1px 1px black;
    
}

#menssage{
    position: absolute;
    top: 4px;
    left: 570px;
    color: rgb(132, 1, 1);

}    

#result-rest{
    color: black;
}